#main {
	margin: 0 auto;
	border: 1px solid black;
	min-width: 272px;
	background: #ddd;
}

body {
	background: black;
}

#title {
	text-align: center;
	font-family: 'Playfair Display', serif;
	text-decoration: underline;
}

#html_logger {
	text-align: center;
	max-height: 420px;
	overflow: auto;
	font-size: 1.3em;
	background: white;
	font-family: 'PT Sans Narrow', sans-serif;
	padding: 5px;
}

#date {
	text-align: center;
	color: green;
}

#buttons {
	max-width: 370px;
	display: block;
	margin: 0 auto;
	min-width: 272px;
	padding-left: 40px;
	left: -20px;
	position: relative;
}

#addButton, #clearButton, #dateButton {
	display: inline-block;
}