#main {
	margin: 0 auto;
	border: 1px solid black;
	min-width: 376px;
	background: #ddd;
}

body {
	background: black;
}

#title {
	text-align: center;
}

#html_logger {
	text-align: center;
	max-height: 420px;
	overflow: auto;
	font-size: 1.2em;
	background: white;
}

#date {
	text-align: center;
}

#buttons {
	width: 370px;
	display: block;
	margin: 0 auto;
}

#addButton, #clearButton, #dateButton {
	display: inline-block;
}